@font-face {
    font-family: 'Dense';
    src: url('Dense-Regular.otf');
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('Butler_Light_Stencil.otf');
}

.customfont_dense {
    -fx-font-family: "Dense";
    -fx-font-size: 25;
    -fx-text-fill: #ffffff;
}

.customfont_dense_titlebar {
    -fx-font-family: "Dense";
    -fx-font-size: 25;
    -fx-text-fill: #212121;
}

.customfont_dense_black {
    -fx-font-family: "Dense";
    -fx-font-size: 18;
    -fx-text-fill: #2c3e50;
}

.customfont_dense_black2 {
    -fx-font-family: "Dense";
    -fx-font-size: 18;
}

.customfont_dense_abtdev {
    -fx-font-family: "Dense";
}
.customfont_butler_stencil {
    -fx-font-family: "Butler Stencil";
    -fx-font-size: 100;
    -fx-text-fill: #2c3e50;
}

.customfont_butler_stencil_small {
    -fx-font-family: "Dense";
    -fx-font-size: 30;
    -fx-text-fill: #ffffff;
}

.buttonbgcolorchange1:hover{
    -fx-background-color: #424242;
}

.buttonbgcolorchange2:hover{
    -fx-background-color: #bdbdbd;
}

.buttonbgcolorchange3:hover{
    -fx-background-color: #212121;
}
.custombackgrouncolor1{
    -fx-background-color: #388E3C;
}

.custombackgrouncolor2{
    -fx-background-color: #4CAF50;
}

.custombackgrouncolor3{
    -fx-background-color: #eeeeee;
}

.custombackgrouncolor4{
    -fx-background-color: #ffffff;
}
.custombackgrouncolor5{
    -fx-background-color: #212121;
}
.custombackgrouncolor6{
    -fx-background-color: #424242;
}

.custombackgrouncolor7{
    -fx-background-color: whitesmoke;
}