@font-face {
    font-family: 'Dense';
    src: url('Dense-Regular.otf');
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('Butler_Light_Stencil.otf');
}

.customfont_dense {
    -fx-font-family: "Dense";
    -fx-font-size: 25;
    -fx-text-fill: #ffffff;
}

.customfont_dense_black {
    -fx-font-family: "Dense";
    -fx-font-size: 18;
    -fx-text-fill: #2c3e50;
}

.customfont_dense_abtdev {
    -fx-font-family: "Dense";
}
.customfont_butler_stencil {
    -fx-font-family: "Butler Stencil";
    -fx-font-size: 100;
    -fx-text-fill: #2c3e50;
}

.buttonbgcolorchange1:hover{
    -fx-background-color: #4CAF50;
}

.buttonbgcolorchange2:hover{
    -fx-background-color: #bdbdbd;
}

.buttonbgcolorchange3:hover{
    -fx-background-color: #388E3C;
}
.custombackgrouncolor1{
    -fx-background-color: #388E3C;
}

.custombackgrouncolor2{
    -fx-background-color: #4CAF50;
}

.custombackgrouncolor3{
    -fx-background-color: #eeeeee;
}